.circle {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  border: 2px solid #f6e5e9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.display {
  font-size: 36px;
  color: white;
}
